.bridal-party{
  margin-bottom: 50px;
  .crop {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    img {
      width: 200px;
      height: auto;
      margin: 0;
    }
  }
}
