header{
  font-family: 'Petit Formal Script', cursive;
  .header{
    padding: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    min-height: 66.7vw;
    background: $franzke-navy;
    @media screen and (min-width: $break-medium) {
      min-height: 66.7vh;
    }
    img{
      position: absolute;
      left: 0;
      width: 100%;
      height: auto;
      opacity: 0.4;
      @media screen and (min-width: $break-medium) {
        top: 0;
      }
      @media screen and (min-width: $break-large) {
        top: -25vh;
      }
    }
    .header-text{
      position: absolute;
      bottom: 10px;
      z-index: 1;
      color: #fff;
      text-align: center;
      vertical-align: bottom;
      width: 100%;
      h1{
        @media screen and (min-width: $break-medium) {
          margin-left: 10%;
          margin-right: 10%;
          font-size: 3em;
        }
      }
      p{
        @media screen and (min-width: $break-medium) {
          margin-left: 10%;
          margin-right: 10%;
        }
      }
    }
  }
}
