.home{
  .stickout-message{
    text-align: right;
    font-weight: bold;
    font-size: 0.75em;
    //line-height: 1.8em;
    @media screen and (min-width: $break-medium) {
      font-size: 1em;
    }
    a {
      color: $franzke-purple;
      &:hover {
        color: $franzke-dark-purple;
        background-color: transparent;
      }
    }
  }
  a{
    color: $franzke-dark-purple;
    font-weight: 900;
    &:hover {
      color: white;
      background-color: $franzke-dark-purple;
    }
  }
}
