//fonts, colors, defaults here
//the wedding colors
$franzke-navy: #031926;
$franzke-seafoam:#A5EFB0;
$franzke-dark-accent: #468189;
$franzke-purple: #6D7193;
$franzke-light-accent: #77ACA2;
$franzke-barely-seafoam: #DAEFDD;
$franzke-dark-purple: #545775;


//font colors

//font defaults
//break points
$break-small: 37em;
$break-medium: 55em;
$break-large: 70em;
