@import 'variables';
body {
  background-color: $franzke-seafoam;
  color: $franzke-navy;
  font-family: Cantarell, sans-serif;
  padding: 18vh 1rem;
  text-align: center;
}

a {
  &:focus,
  &:hover {
  }
}
