<header>
  <div class ="header">
    <section class="header-text">
      <h1>
        <%= title %>
      </h1>
      <p>
        <%= subtitle %>
      </p>
    </section>
    <img src= "<%= image%>">
  <div>
</header>
