<header>
  <div class ="header">
    <section class="header-text">
      <h1>
        AJ and Caitlin are getting married
      </h1><br/>
      <p>
        this is where we'll think of something hip yet sweet, cute with or without the corny.
      </p>
    </section>
      <img src="../images/engagementkiss.jpg">
  <div>
</header>
