<div id="menu">
  <div class="content-container">
    <a href="/">Home</a>
    <a href="/photos">Caitlin & AJ</a>
    <a href="/plan-your-trip">Plan your trip</a>
    <a href="/bridal-party">Bridal Party</a>
    <a href="/registry">Registry</a>
  </div>
</div>
