<div id="menu">
  <div class="menu-container">
    <a href="/">Home</a>
    <a href="/RSVP">RSVP</a>
    <a href="/details">Details</a>
    <a href="/photos">Caitlin & AJ</a>
    <a href="/bridal-party">Bridal Party</a>
    <a href="/registry">Registry</a>
  </div>
</div>
