<div class="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/bridal-party">Bridal Party</a></li>
    <li><a href="/registry">Registry</a></li>
    <li><a href="/photos">Photos</a></li>
  </ul>
</div>
