<%= partial "layouts/header", locals: {
  title: 'This is the bridal party page',
  subtitle: 'Get ready to learn about caitlin
            and AJs best pals. Possibly will remove this',
  image:'images/candid-tree.jpg'
  } %>
<div class="container">
  <div class= "bridal-party">
    <h2>
      Get to Know Us
    </h2>
    <div class="crop">
      <img src="/images/berndog.jpg" />
    </div>

  </div>
  <h2>here we're looking at a color scheme</h2>
  <div class ="colors">
    <section class="navy">
      <h1> navy </h1>
    </section>
    <section class="dark-purple">
      <h1> dark-purple </h1>
    </section>
    <section class="purple">
      <h1> purple </h1>
    </section>
    <section class="dark-accent">
      <h1> dark-accent </h1>
    </section>
    <section class="light-accent">
      <h1> light-accent </h1>
    </section>
    <section class="seafoam">
      <h1> seafoam </h1>
    </section>
  </div>
</div>
