<%= partial "layouts/header", locals: {
  title: 'AJ and Caitlin are getting married',
  subtitle: ' this is where well think of something hip yet sweet, cute with
              or without the corny.',
  image:'../images/engagementkiss.jpg'
  } %>
<div class="container">
  <div class= "home">
    <h2>
      Short title here
    </h2>
    <p>
      this is where we'll introduce something about the wedding
      Salvia tilde godard viral taxidermy hammock snackwave keytar
      wolf vinyl pug cred. Brunch health goth raclette authentic
      letterpress hammock subway tile deep v coloring book selvage
      semiotics. Deep v tilde truffaut kombucha, shoreditch cliche
      butcher hoodie artisan scenester. Activated charcoal brunch
      affogato messenger bag. Salvia copper mug stumptown you probably
      haven't heard of them. Helvetica crucifix slow-carb, chambray
      artisan hexagon chia keytar. Health goth.
    </p>
    <section class="stickout-message">
      <!-- Here we'll stick a call to action in right-aligned bold.
      PRE: Link to more pics?
      POST: RSVP
      POST-POST: Leave a note/send your pics/check out the latest pics -->
      <h3>
        <a href="">
          OH BoY IT'S A CALL TO ACTION. DO THIS, BECAUSE IT'S A LINK!
        </a>
      </h3>
    </section>
    <p>
      Health goth mixtape vice food truck single-origin coffee. Narwhal
      put a bird on it hashtag cold-pressed heirloom vegan dreamcatcher
      next level squid edison bulb authentic. Disrupt schlitz live-edge
      man braid, roof party selfies poutine chicharrones activated charcoal
      mustache post-ironic occupy migas. Cred ethical drinking vinegar austin
      cray kombucha succulents authentic ramps. Listicle typewriter tilde,
      hammock drinking vinegar trust fund keytar jean shorts everyday carry
      pabst tofu lo-fi. Cred ethical pug vice banjo, tilde post-ironic
      literally hot chicken taxidermy. DIY subway tile cray normcore street
      art, iceland butcher skateboard drinking vinegar tilde post-ironic
      trust fund vegan vexillologist. Four loko sartorial stumptown,
      butcher vegan gastropub leggings 8-bit farm-to-table hammock
      vexillologist snackwave man bun. Tofu venmo master cleanse kickstarter
      kogi raclette fanny pack skateboard intelligentsia bicycle rights
      vegan freegan typewriter. Pitchfork migas authentic, pork belly
      intelligentsia schlitz gentrify edison bulb stumptown. Bicycle
      rights locavore kombucha intelligentsia. Keytar green juice street
      art, DIY selvage kogi ennui jianbing bicycle rights pork belly cronut
      williamsburg banjo slow-carb succulents. DIY kogi forage vinyl biodiesel
      williamsburg farm-to-table taxidermy. Flannel butcher food truck iceland
      chartreuse, selfies vape taxidermy paleo.
  </div>
</div>
