<%= partial "layouts/header", locals: {
  title: 'AJ and Caitlin are getting married',
  subtitle: 'January 19th, 2019',
  image:'../images/engagementkiss.jpg'
  } %>
<div class="container">
  <div class= "home">
    <h2>
      Welcome to our wedding
    </h2>
    <p>
      Thank you for helping us celebrate our commitment to one another. We’re so excited to begin our lives together as husband and wife. As we become a family, we hope that our community with gather around us with the love and support that you’ve always shared.

      Please take a moment to browse our site: learn more about our wedding party, plan your long weekend in St. Petersburg, and let us know if you can join us!
    </p>
    <section class="stickout-message">
      <h3>
        <a href="">
          Don't forget to check out the engagement photos!
        </a>
      </h3>
    </section>
    <p>
      Your presence is present enough. We appreciate you sharing a long weekend with us and taking on the travel and accommodations associated with our celebration.

      Follow our wedding journey and contribute to our wedding memories by using the hashtag, #KeToMyHeart.
    </p>

  </div>
</div>
