<%= partial "layouts/header", locals: {
  title: 'Plan Your Trip',
  subtitle: 'See you in St. Pete',
  image:'/images/ring.jpg'
  } %>
<div class="content-container plan">
  <h2>Venue</h2>
    <p>We've selected the <a target="_blank" href=" ">Vinoy</a> in St. Petersburg, FL for our wedding. Our ceremony will
      take place in the romantic tea garden. Our reception will take place in the
       Grand Ballroom.</p>
   <h2>Accommodations</h2>
   <p style="font-style: italic;">We have room blocks at the following hotels:</p>
   <ul>
     <li><a target="_blank" href="https://book.passkey.com/event/49600948/owner/6106/home">The Vinoy</a></li>
     <li><a target="_blank" href="https://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Franz%20Ke%20Wedding%5ETPASD%60FKWFKWA%7CFKWFKWB%60189.00-189.0%60USD%60false%604%601/17/19%601/20/19%6012/17/18&app=resvlink&stop_mobi=yes">
     Courtyard Marriott</a></li>
   </ul>
   <h2>Travel</h2>
   <ul>
     <li>The Tampa International Airport is a 25 minute <a target="_blank"
       href="https://www.google.com/maps/dir/Tampa+International+Airport+(TPA),
       +4100+George+J+Bean+Pkwy,+Tampa,+FL+33607/The+Vinoy+Renaissance+St.+Petersburg+Resort
       +%26+Golf+Club,+501+5th+Ave+NE,+St.+Petersburg,+FL+33701/@27.8798458,-82.7354804,11z/
       data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x88c2c246939e4443:0x7a5b8408c601d509!2m2!1d-82.5370781!
       2d27.9834776!1m5!1m1!1s0x88c2e174f9576799:0x44f056fae781c7ec!2m2!1d-82.6301077!2d27.7779773!3e0">
       drive </a> to The Vinoy.
     </li>
     <li>The St. Pete-Clearwater International Airport is an 18 minute
       <a target="_blank" href="https://www.google.com/maps/dir/St.+Pete%E2%80%93
       Clearwater+International+Airport+(PIE),+Terminal+Pkwy,+Clearwater,+FL/The+
       Vinoy+Renaissance+St.+Petersburg+Resort+%26+Golf+Club,+501+5th+Ave+NE,+St.+
       Petersburg,+FL+33701/@27.8431714,-82.7315737,12z/data=!3m1!4b1!4m14!4m13!1m5
       !1m1!1s0x88c2e5778957dfe3:0xec0e83e17dde2835!2m2!1d-82.6893801!2d27.9100221!1
       m5!1m1!1s0x88c2e174f9576799:0x44f056fae781c7ec!2m2!1d-82.6301077!2d27.7779773!3e0">
         drive</a> to The Vinoy.</li>
   </ul>
  <h2>Things to Do</h2>
  <ul>
    <li><a target="_blank" href="http://mfastpete.org ">St. Petersburg Museum of Fine Arts</a></li>
    <li><a target="_blank" href="http://thedali.org/ ">Dali Museum</a></li>
    <li><a target="_blank" href="http://www.moreanartscenter.org/chihuly/ ">Chihuly Collection</a></li>
    <li>Take a walk through <a target="_blank" href="http://www.stpeteparksrec.org/north-straub-park.html ">North Straub Park</a></li>
    <li>Grab some gelato at <a target="_blank" href="https://downtownstpete.com/we-all-scream-for-paciugo-gelato/ ">Paciugo</a></li>
    <li>Enjoy rooftop cocktails at the <a target="_blank" href="http://www.thebirchwood.com/thecanopy/ ">Canopy</a> (at the Birchwood Hotel.)</li>
    <li><a target="_blank" href="http://www.marriott.com/spas/tpasr-the-vinoy-renaissance-st-petersburg-resort-and-golf-club/vinoy-salon-&-day-spa/5015329/services.mi ">Relax at the spa at the Vinoy</a></li>
    <li>St. Pete Beach is just a quick <a target="_blank" href="https://www.google.com/maps/dir/St+Pete+Beach+Parking,+Gulf+Boulevard,+Saint+Pete+Beach,+FL+33706/The+Vinoy+Renaissance+St.+Petersburg+Resort+%26+Golf+Club,+501+5th+Ave+NE,+St.+Petersburg,+FL+33701/@27.7432844,-82.7258622,13z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x88c302b18cb26d17:0x3e8fedf9c722c12c!2m2!1d-82.740491!2d27.7213832!1m5!1m1!1s0x88c2e174f9576799:0x44f056fae781c7ec!2m2!1d-82.6301077!2d27.7779773!3e0 ">20 minute drive</a> away</li>
  </ul>
  <h2>Restaurants</h2>
  <p style="font-style: italic;">The selections below are within a half mile of the wedding venue.</p>
  <ul>
    <li>The Moon Under Water</li>
    <li>Fresco’s Waterfront Bistro</li>
    <li>Ceviche Tapas St. Pete</li>
    <li>Tryst Gastro Lounge</li>
    <li>At the Vinoy: Marchand's Bar & Grill, Alfresco’s, Veranda Cafe, and Fred’s</li>
  </ul>
</div>
