<%= partial "layouts/header", locals: {
  title: 'Registry, baby',
  subtitle: 'buy some stuff',
  image:'images/candid-tree.jpg'
  } %>

  <div class="content-container">
    <a class="zola-registry-embed"
      href="https://www.zola.com/registry/ketomyheart"
      data-registry-key="ketomyheart">Our Zola Wedding Registry
    </a>
    <script>!function(e,t,n){var s,a=e.getElementsByTagName(t)[0];e.getElementById(n)||(s=e.createElement(t),s.id=n,s.async=!0,s.src="https://widget.zola.com/js/widget.js",a.parentNode.insertBefore(s,a))}(document,"script","zola-wjs");</script>
  </div>
